@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: "Poppins", sans-serif;
    background: #040402;
    color: #f5f5f5;
}

.header{
    position: fixed;
    background: transparent;
    
    display: flex;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    z-index: 5;
}

.wrap {
    width: 100%;
    display: inherit;
    max-width: 1200px;
    justify-content: inherit;
    margin: 0 auto;
    padding: 20px;
}

section {
    text-align: center;
    padding: 90px;
}

#logo {
    display: flex;
    align-items: center;
}

.menu {
    list-style: none;
    display: flex;
    height: 100%;
    align-items: center;
}

.navmenu {
    display: none;
    align-items: center;
    font-size: 35px;
}

.menu_links {
    list-style: none;
    display: flex;
    height: 100%;
    align-items: center;
}
  
.menu_link {
    padding-left: 20px;
}
  
.menu_link a {
    text-decoration: none;
    color: #8e8e8e;
    transition: color 0.3s;
}
  
.menu_link a:hover {
    color: #37bcf9;
    transition: color 0.3s;
}

.home_bg{
    background-color: #8e8e8e;
    background-image: url(img/bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.description{
    display: block;
    text-align: center;
    margin-top: 6%;
}

.picture{
    background-position: center;
    width: 280px;
    height: 280px;
    border-radius: 50%;
    filter: grayscale(1);
    transition: filter 0.3s;
}
  
.picture:hover{
    transition: filter 0.3s;
    filter: grayscale(0);
    border: 2px solid  #37bcf9;
    box-shadow: 0px 0px 2px #37bcf9;
}

#home{
    min-height: 100vh;
    display: flex;
    padding: 30px;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
    position: relative;
}

.description h1 {
    margin-top: 30px;
    font-size: 64px;
    color: white;
    line-height: 56px;
    font-weight: 700;
}

.description p {
    color: white;
    margin-bottom: 50px;
    font-size: 26px;
}

.description p span {
    color: white;
    padding-bottom: 4px;
    letter-spacing: 1px;
    border-bottom: 3px solid #37bcf9;
} 

/*CAMBIO DE SECCION*/

.title {
    color: #f5f5f5;
    font-size: 35px;
    margin-bottom: 30px;
}

.about_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
  
.about_description {
    text-align: left;
    color: #8e8e8e;
    padding-right: 80px;
    line-height: 40px;
}

.about_description a{
    text-decoration: none;
}

#university{
    color:  #37bcf9;
}


.about_description h2 {
    color: #f5f5f5;
    margin: 20px 0;
  }
  
.about_skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
  
.skill_title {
    color: #8e8e8e;
    grid-column: span 3;
    text-align: left;
}
  
.skill_item {
    background: #191919;
    font-size: 50px;
    color: #8e8e8e;
    padding: 35px;
    transition: all 0.3s;
    min-width: 130px;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.6s cubic-bezier(0.5, 0, 0, 1) 0.45s;
}
  
.skill_item:hover {
    color: #f5f5f5;
    transition: all 0.3s;
}
  
.skill_name {
    font-size: 16px;
    text-align: center;
}

.fab{
    display: inline-block;
    
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

/*CAMBIO DE SECCION*/

.services_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding-top: 30px;
}
  
.services_item{
    padding: 20px;
    background: #191919;
    border-bottom: 5px solid transparent;
    overflow: hidden;
    transition: border 0.3s;
}
  
.services_item:hover{
    transition: border 0.3s;
    border-bottom: 5px solid #0a4f88;
}
  
.services_item:hover i{
    transition: all 0.3s;
    font-size: 70px;
    color: #37bcf9;
    animation: showIcon 300ms linear;
}
  
.services_item i{
    transition: all 0.3s;
    font-size: 40px;
    margin: 20px 0;
    color: #8e8e8e;
}
  
.services_item h3{
    margin-bottom: 15px;
}

.services_item:hover h3{
    margin-bottom: 15px;
    animation: showCategory 400ms linear;
}
  
.services_item p{
    color: #8e8e8e;
}

.services_item:hover p{
    color: #8e8e8e;
    animation: showDescription 400ms linear;
}
  
/*CAMBIO DE SECCION*/

.proyects_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}
  
.proyect_item {
    background: white;
    position: relative;
    object-fit: cover;
    overflow: hidden;
    font-size: 14px;
}
  
.proyect_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: all 1s;
    filter: grayscale(1);
}
  
.proyect_description {
    padding: 50px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    top: 300px;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all 0.5s;
    z-index: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
  
.proyect_item:hover .proyect_description {
    visibility: visible;
    opacity: 1;
    transition: all 0.5s;
    transform: translateY(-300px);
}
  
.proyect_item:hover .proyect_img {
    transition: all 1s;
    transform: scale(1.3);
}
  
.proyect_description--title {
    color: #37bcf9;
}
  
.proyect_description--text {
    margin: 20px 0;
}
  
.buttons_container {
    display: flex;
}

.buttons_container a{
    text-decoration: none;
}
  
.button {
    background: #191919;
    color: #f5f5f5;
    padding: 5px 10px;
    display: inline-block;
    margin: auto;
}
  
.button:hover {
    color: #37bcf9;
}

.button--cta {
    background: #37bcf9;
    color: #191919;
    padding: 5px 30px;
    display: inline-block;
    margin: 20px auto;
}
  
.button--cta i {
    margin-right: 10px;
}
  
.button--cta:hover {
    background: #f5f5f5;
    color: #191919;
}

/*CAMBIO DE SECCION*/

.contact_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
  
.contact_item {
    background: #191919;
    color: #8e8e8e;
    padding: 50px;
    border-radius: 10px;
    transition: all 0.3s;
}


.contact_item i {
    font-size: 50px;
    margin-bottom: 10px;
}
  
.contact_item:hover i {
    text-shadow: 3px 3px #040402;
}
  
.contact_item:hover {
    transition: all 0.3s;
    color: #f5f5f5;
    text-shadow: 2px 2px #040402;
}

.icon{
    text-decoration: none;
}
  
.active a {
    color: #f5f5f5;
}
  
.footer {
    color: #8e8e8e;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 10px;
    text-align: center;
    font-size: 14px;
}
  
.footer a {
    color: #8e8e8e;
    text-decoration: none;
}
  
.footer a:hover {
    color: #f5f5f5;
}

.vid{
    position: relative;
    background-color: #000;
    height: 45vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;  
}

.overlay{
    height: 200px;
}

